.headerContainer {
    background-color: rgb(36, 35, 35);
    color: white;
    justify-content: center;
    position: relative;
    height: 40vh;
    
}

.headerList {
    
    width: 100%;
    
}

.headerListItem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.3rem;
    margin: 10px;
}

.headerTitle {
    text-align: center;
    padding: 50px;
    
}

.headerTitleIcon {
    color: orange;
}

.headerSearch {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border: 5px solid black;
    padding: 20px;
    position: absolute;
    bottom: -25px;
    width: 100%;
}

.headerSearchItem {
    font-weight: 600;
    font-size: 1.3rem;
}

.headerSearchButton {
  background-color: black;
  color: aliceblue;
  width: 100px;
  height: 48px;
  font-size: 1rem;
}

.headerSearchButton:hover {
    background-color: black;
  cursor: pointer;
  color: aliceblue;
  width: 100px;
  height: 48px;
  font-size: 1rem;
  opacity: 50%;
}

.searchCalendarIcon {
    font-size: 2rem;
}

.searchCalendarIcon:hover {
    font-size: 2rem;
    opacity: 50%;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 5px;
    outline: 1px solid black;
}