.navbar{
    height: 124px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    align-items: center;
    
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    background-color: rgb(36, 35, 35);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.brandLogo {
    font-weight: 500;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.navButton {
    margin-left: 15px;
    padding: 10px;
    cursor: pointer;
    background-color: ivory;
    font-size: 0.9rem;
    border-radius: 15px;
}

.navButton:hover{
    text-decoration: underline;
}

.profileButton {
    background-color: darkorange;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border-radius: 1rem;
    height: 2rem;
}

.profileButton:enabled:hover {
    opacity: 90%;
}
.profileButton:disabled {
    background-color: grey;
    cursor: default;
}

.adminNavBarContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;
    color: white;
    height: 48px;
    font-size: 2.5rem;
}
.adminNavBarTitle {
    text-align: center;
}

.adminNavBarItem {
    color: darkorange;
}
.adminNavBarItem:hover {
    cursor: pointer;
    opacity: 90%;
    text-decoration: underline;
}

.halloween {
    color: darkorange;
}