.userSingleVehicleContainer {
    display: flex;
}

.returnButton {
    background-color: olivedrab;
    color: black;
    width: 200px;
    height: 48px;
    font-size: 1rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.returnButton:hover {
    opacity: 80%;
}

@media only screen and (max-width: 600px) {
    .userSingleVehicleContainer {
      flex-direction: column;
    }
  }

  @media only screen and (min-width: 601px) {
    .userSingleVehicleContainer {
      flex-direction: row;
    }
  }

.leftSide, .calendarContainer, .vehicleInfoContainer, .rightSide {
    
    flex: 1;
}

.dateSingle {
    margin-top: 40px;
}




.vehicleInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


img {
    width: 100%;
  height: auto;
}

.availabilityButton{
    display: block;
}

.leftSide{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightSide{
  display: flex;
  flex-direction: column;
}

.availabilityButton{
  background-color: rgb(195, 202, 92);
    padding: 15px;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 60px;
}

.subTotalContainer p{

  background-color: white;
  padding: 3rem;
  font-size: 1.8rem;
  
}

.continueToCheckoutButton{
  background-color: black;
  color: aliceblue;
  width: 100px;
  height: 48px;
  font-size: 1rem;
}